<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css">
  <script src="lib/vue/vue.js"></script>
  <style>
    .panel,.panel-heading{
      border-radius:0;
    }
  </style>
</head>
<body>
<div id="app">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">添加品牌</h3>
    </div>
    <div class="panel-body form-inline">
      <label>
        id:
        <input type="text" class="form-control" v-model="id">
      </label>
      <label>
        name:
        <input type="text" class="form-control" v-model="name">
      </label>
      <input type="button" value="添加" class="btn btn-primary" @click='add'>
      <input type="text" class="form-control" v-model="keywords">
      <input type="button" value="搜索" class="btn btn-primary" @click='search(keywords)'>
    </div>
  </div>
  <table class="table table-bordered table-hober table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Ctime</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for='item in search(keywords)'>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.Ctime | dateFormat('') }}</td>
        <td>
          <a href="#" @click.prevent='del(item.id)'>删除</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</body>
<script>
Vue.filter('dateFormat',function(dateStr,dateTemplate = ''){
    var date = new Date(dateStr);
    var y = date.getFullYear();
    var m = date.getMonth() + 1;
    var d = date.getDate();
    var hh = date.getHours();
    var mm = date.getMinutes();
    var ss = date.getSeconds();
    // 将数据补齐到两位
    function toDouble(num){
      if(num.toString().length === 1){
        num = '0' + num.toString();
        return num;
      }
      return num;
    }
    if(dateTemplate.toLowerCase() === 'yyyy-mm-dd'){
      return `${y}-${toDouble(m)}-${toDouble(d)}`;
    }else{
      return `${y}-${toDouble(m)}-${toDouble(d)} ${toDouble(hh)}:${toDouble(mm)}:${toDouble(ss)}`;
    }

  })
  var vm = new Vue({
    el:'#app',
    data:{
      id:'',
      name:'',
      keywords:'',
      list:[
        {id:1,name:'奥迪',Ctime:new Date()},
        {id:2,name:'宝马',Ctime:new Date()},
      ]
    },
    methods:{
      add(){
        this.list.push({id:this.id,name:this.name,Ctime:new Date()});
        this.id = this.name = '';
      },
      del(id){
        // 通过id寻找索引，通过索引删除对应项
        var index = this.list.findIndex(function(item){
          return item.id === id;
        })
        console.log(id,index);
        this.list.splice(index,1)
      },
      search(keywords){
        //通过搜索关键字过滤data中的数据
        /*var temp = []
        this.list.forEach(item => {
          if(item.name.indexOf(keywords) != -1){
            temp.push(item);
          }
        })
        return temp;*/
      //通过filter和ES6提供的includes方法
        return this.list.filter(item => {
          return item.name.includes(keywords);
        })
      }
    }
  })
</script>
</html>
